<div>
  <h1>Historial De Vehiculos</h1>
</div>

<button mat-mini-fab color="primary" (click)="changeShowForm()">+</button>

<div *ngIf="showForm">
  <p style="display: flex" [formGroup]="formUser">
    <mat-form-field appearance="legacy">
      <mat-label>Fecha</mat-label>
      <input type="date" matInput formControlName="fecha" />
    </mat-form-field>

    <mat-form-field appearance="legacy">
      <mat-label>Estado</mat-label>
      <input matInput formControlName="estado" />
    </mat-form-field>

    <mat-form-field appearance="legacy">
      <mat-label>vehiculo</mat-label>
      <input matInput formControlName="vehiculoId" />
    </mat-form-field>
  </p>
  <button
    *ngIf="modeForm == 'adicion'"
    (click)="saveUser()"
    mat-fab
    color="primary"
  >
    Add
  </button>
  <button
    *ngIf="modeForm == 'edicion'"
    (click)="updateUser()"
    mat-fab
    color="primary"
  >
    Guardar
  </button>
</div>

<div class="cls-content-page">
  <td>
    <mat-form-field appearance="standard">
      <mat-label>Buscar</mat-label>
      <input matInput type="text" [(ngModel)]="value" (keyup)="filtrar()" />
    </mat-form-field>
  </td>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <!-- Position Column -->
    <ng-container matColumnDef="fecha">
      <th mat-header-cell *matHeaderCellDef>Fecha</th>
      <td mat-cell *matCellDef="let element">{{ setFormat(element.fecha) }}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="estado">
      <th mat-header-cell *matHeaderCellDef>estado</th>
      <td mat-cell *matCellDef="let element">{{ element.estado }}</td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="vehiculoId">
      <th mat-header-cell *matHeaderCellDef>Vehiculo</th>
      <td mat-cell *matCellDef="let element">{{ element.vehiculoId }}</td>
    </ng-container>

    <ng-container matColumnDef="acciones">
      <th mat-header-cell *matHeaderCellDef>Acciones</th>
      <td mat-cell *matCellDef="let element">
        <button mat-button style="color: rgb(161, 152, 152)">info</button>
        <button
          (click)="selectUserEdit(element)"
          mat-button
          style="color: rgb(59, 19, 235)"
        >
          editar
        </button>
        <button
          (click)="deleteUser(element.idHistoria)"
          mat-button
          style="color: rgb(235, 26, 19)"
        >
          Eliminar
        </button>
      </td>
      <td mat-cell *matCellDef="let element"></td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4"></td>
    </tr>
  </table>
</div>
